<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134979924302-ru4q36g3u59s8smte0nec15c5i0hn449.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134979924302-ru4q36g3u59s8smte0nec15c5i0hn449</string>
	<key>API_KEY</key>
	<string>AIzaSyBLJlNbA_l4Gb7qVH_kIvWH3rkirx9QLxw</string>
	<key>GCM_SENDER_ID</key>
	<string>134979924302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aj.Ani-MoblieDeveloper-iOS</string>
	<key>PROJECT_ID</key>
	<string>ani-mobliedeveloper-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ani-mobliedeveloper-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134979924302:ios:e1c6cf5b137fc2fb746e1f</string>
</dict>
</plist>